<h2>Libros</h2>
<table class="table table-striped">
    <tr>
        <th>Libro</th>
        <th>Autor</th>
        <th></th>
    </tr>
    <tr>
        <td>Cien años de soledad</td>
        <td>Gabriel García Márquez</td>
        <td><button class="btn btn-primary"><b><a href="gestion">Detalles</a></b></button></td>
    </tr>
    <tr>
        <td>El Señor de los Anillos</td>
        <td>J.R.R. Tolkien</td>
        <td><button class="btn btn-primary"><b><a href="gestion">Detalles</a></b></button></td>
    </tr>
    <tr>
        <td>1984</td>
        <td>George Orwell</td>
        <td><button class="btn btn-primary" ><b><a href="gestion">Detalles</a></b></button></td>
    </tr>
</table>
