<H2>Recomendados</H2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Libro</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Año de Publicación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cien años de soledad</td>
            <td>Gabriel García Márquez</td>
            <td>Realismo mágico</td>
            <td>1967</td>
        </tr>
        <tr>
            <td>El Señor de los Anillos</td>
            <td>J.R.R. Tolkien</td>
            <td>Fantasía</td>
            <td>1954-1955</td>
        </tr>
        <tr>
            <td>1984</td>
            <td>George Orwell</td>
            <td>Ciencia ficción, distopía</td>
            <td>1949</td>
        </tr>
        <tr>
            <td>Crónica de una muerte anunciada</td>
            <td>Gabriel García Márquez</td>
            <td>Realismo mágico</td>
            <td>1981</td>
        </tr>
        <tr>
            <td>Orgullo y prejuicio</td>
            <td>Jane Austen</td>
            <td>Novela romántica</td>
            <td>1813</td>
        </tr>
    </tbody>
</table>
